/* Block */
.fab-button[data-block='true'] {
    width: 100%;
}

/* Corner style */
@each $style,
$radius in $corner-styles {
    .fab-button[data-corner-style='#{$style}'] {
        border-radius: $radius;
    }
}

/* Clear */
@each $theme,
$color in $color-palette {
    .fab-button[data-clear='true'][data-color='#{$theme}'] {
        color: text-color($color, $color, darken($color, 30%));

        &:hover:not([disabled]) {
            @if (lightness($color) > 75) {
                background: mix($color, #000, 95%);
            }

            @else {
                background: mix($color, #FFF, 10%);
            }
        }

        &:active:not([disabled]) {
            @if (lightness($color) > 75) {
                background: mix($color, #000, 90%);
            }

            @else {
                background: mix($color, #FFF, 15%);
            }
        }

        &:focus:not(:active) {
            box-shadow: 0 0 0 0.125em focus-color($color);
        }
    }
}

/* Disabled */
.fab-button[disabled] {
    cursor: default;
    opacity: .6;
}

/* Fill */
@each $theme,
$color in $color-palette {
    .fab-button[data-color='#{$theme}']:not([data-clear='true']):not([data-outline='true']) {
        background: $color;
        border: solid $button-border-width border-color($color);
        color: getTextColor($color);

        &:hover:not([disabled]) {
            background: hover-color($color);
        }

        &:active:not([disabled]) {
            background: active-color($color);
        }

        &:focus:not(:active) {
            box-shadow: 0 0 0 0.125em focus-color($color);
        }
    }
}

/* Loading */
.fab-button[data-loading='glare'] {

    @each $theme,
    $color in $color-palette {
        &[data-color='#{$theme}'] {
            &:before {
                background: glare-color($color);
            }
        }
    }

    &:before {
        animation: loading-glare $button-animation-duration $button-animation-timing-function infinite;
        content: '';
        height: 150%;
        content: '';
        position: absolute;
        transform: rotateZ(30deg);
        width: 30%;

        @keyframes loading-glare {
            0% {
                left: -75%
            }

            100% {
                left: 175%
            }
        }
    }
}

.fab-button[data-loading='progress'] {
    @each $theme,
    $color in $color-palette {
        &[data-color='#{$theme}'] {
            &:before {
                background: glare-color($color);
            }
        }
    }
    
    &:before {
        animation: loading-progress $button-animation-duration $button-animation-timing-function infinite;
        content: '';
        height: 150%;
        content: '';
        position: absolute;

        @keyframes loading-progress {
            0% {
                left: 0;
                transform: translate(-100%, 0);
                width: 0;
            }

            50% {
                width: 50%
            }

            100% {
                left: 100%;
                transform: translate(100%, 0);
                width: 0;
            }
        }
    }
}

/* Outline */
@each $theme,
$color in $color-palette {
    .fab-button[data-outline='true'][data-color='#{$theme}'] {
        border: solid $button-border-width border-color($color);
        color: text-color($color, $color, $text-color);

        &:hover:not([disabled]) {
            background-color: hover-color($color);
            color: text-color($color, #FFF, $text-color);
        }

        &:active:not([disabled]) {
            background: active-color($color);
        }

        &:focus:not(:active) {
            box-shadow: 0 0 0 0.125em focus-color($color);
        }
    }
}

/* Sizes */
@each $size,
$params in $button-sizes {
    .fab-button[data-size='#{$size}'] {
        font-size: map-get($params, font-size);
    }
}