.fab-tooltip {
    background: map-get($color-palette, light);
    color: map-get($color-palette, dark);
    display: inline-flex;
    font-family: $font-family-default;
    font-size: $tooltip-font-size-default;
    opacity: 0;
    padding-bottom: $tooltip-padding-bottom;
    padding-left: $tooltip-padding-left;
    padding-right: $tooltip-padding-right;
    padding-top: $tooltip-padding-top;
    position: absolute;
    transition: all $transition-default;
    visibility: hidden;

    &:before {
        background: inherit;
        content: '';
        height: .75em;
        position: absolute;
        width: .75em;
    }
}

/* Children */
.fab-tooltip span {
    position: relative;
    z-index: 1;
}