.fab-collapse__content {
    border-top: solid 1px;
    padding: $card-padding;
}

.fab-collapse__toggle {
    align-items: center;
    appearance: none;
    background: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    padding: $card-padding;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.fab-collapse__toggle__title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

// .fab-collapse__toggle [data-element='title'] {
//     display: flex;
//     margin: 0;

//     +*:not([data-element='subtitle']):not([data-element='title']) {
//         margin-top: 1em;
//     }
// }

// .fab-collapse__toggle [data-element='subtitle'] {
//     font-size: $subtitle-font-size;
// }

// .fab-collapse__toggle [data-element='title'] {
//     font-size: $title-font-size;
// }