.fab-button-group {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -$button-group-spacing;

    .fab-button-wrapper {
        padding: $button-group-spacing;
    }
}