@import '../variables.scss';

.fab-badge {
    align-items: center;
    border-radius: .3em;
    display: flex;
    font-family: $font-family-base;
    font-size: .75rem;
    justify-content: center;
    line-height: 1;
    margin: 0;
    min-height: 1.5rem;
    min-width: 1.5rem;
    padding: .3rem;
}

@each $corner,
$radius in $corners {
    .fab-badge[data-corner='#{$corner}'] {
        border-radius: $radius;
    }
}

::ng-deep [data-color='default']>fab-badge .fab-badge:not([data-color]) {
    background: map-get($color-palette, default);
    color: #FFF;
}

::ng-deep [data-color='primary']>fab-badge .fab-badge:not([data-color]) {
    background: #FFF;
    color: $primary-color;
}

.fab-badge[data-color='primary'] {
    background: $primary-color;
    color: #FFF;
}