@import '../mixins/component.scss';
@import '../variables';

.fab-card {
    @include component();

    background: #FFF;
    border: solid .05em #E5E5E5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
    font-family: $font-family-base;
}

// Corners
@each $corner,
$radius in $corners {
    @if $corner !='rounded' {
        .fab-card[data-corner='#{$corner}'] {
            border-radius: $radius;

            ::ng-deep fab-card-image:first-child {
                .fab-card__image {
                    border-radius: $radius $radius 0 0;
                }
            }

            ::ng-deep fab-card-image:last-child {
                .fab-card__image {
                    border-radius: 0 0 $radius $radius;
                }
            }
        }
    }
}

.fab-card__body {
    display: flex;
    flex-direction: column;
    padding: 1.25em;

    ::ng-deep fab-avatar:first-child .fab-avatar {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
        margin-top: -3.75em;
    }
}

.fab-card__body[data-alignment='center'] {
    align-items: center;
}

.fab-card__body[data-alignment='end'],
.fab-card__body[data-alignment='right'] {
    align-items: flex-end;
}

.fab-card__body[data-alignment='left'],
.fab-card__body[data-alignment='start'] {
    align-items: flex-start;
}

.fab-card__footer {
    border-top: solid 1px $border-color;
    display: flex;
    padding: 1.25em;
}

.fab-card__header {
    align-items: center;
    border-bottom: solid 1px $border-color;
    display: flex;
    justify-content: space-between;
    padding: 1.25em;
}

.fab-card__image {
    align-items: flex-end;
    background: $placeholder-color;
    display: flex;
    height: 12em;
    overflow: hidden;
    position: relative;
    width: 100%;
}

::ng-deep fab-card-image:not(:last-child) .fab-card__image {
    border-bottom: solid 1px $border-color;
}

.fab-card__image[data-has-elements='true'] {
    .fab-card__image__data {
        display: flex;
    }
}

.fab-card__image ::ng-deep fab-tag {
    position: absolute;
    right: .75em;
    top: .75em;
}

.fab-card__image__data {
    background: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3));
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 1.25em;
    width: 100%;

    ::ng-deep .fab-card__subtitle,
    .fab-card__subtitle,
    ::ng-deep .fab-card__title,
    .fab-card__title {
        color: #FFF;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }
}

::ng-deep .fab-card__subtitle,
.fab-card__subtitle {
    color: $subtitle-color;
    display: flex;
    font-size: .9rem;
    font-weight: 400;
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    +.fab-card__title {
        margin-top: -.5em;
    }
}

::ng-deep .fab-card__text,
.fab-card__text {
    color: $text-color;
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 1.5em;
    }
}

::ng-deep .fab-card__title,
.fab-card__title {
    color: $text-color;
    display: flex;
    font-size: 1.2rem;
    letter-spacing: -.03em;
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    +.fab-card__subtitle {
        margin-top: -1em;
    }
}