// @import '../functions';
@import '../variables';
@import '../mixins/component';

.fab-toast {
    @include component();

    align-items: center;
    // background: #FFF;
    // border: solid 1px #E5E5E5;
    border-radius: .3em;
    display: flex;
    font-family: $font-family-base;
    padding: .75em 1em;
}

/* Colors */
@each $theme,
$color in $color-palette {
    .fab-toast[data-color='#{$theme}'] {
        @if $theme !='default' {
            background: $color;
            border: solid .1em $color;
            box-shadow: 0 3px 6px rgba($color, .5);
            color: #FFF;
        }

        @else {
            background: #FFF;
            border: solid .1em $border-color;
            box-shadow: 0 3px 6px rgba($color, .05);
            color: $color;
        }

    }
}

// .fab-toast[data-color='primary'] {
//     background: $primary-color;
//     border-color: $primary-color;
//     box-shadow: 0 3px 6px rgba($primary-color, .5);

//     .fab-toast__message {
//         color: #FFF;
//     }
// }

.fab-toast__message {
    color: inherit;
    flex-grow: 1;
    font-size: .9em;
}