@mixin common-props() {
    &[data-block='true'] {
        display: flex;
        width: 100%;
    }
}

@mixin elements($color) {

    @each $element,
    $props in $element-props {
        $sizes: map-get($props, sizes);

        [data-element='#{$element}'] {
            color: element-color($color, $element);
            display: flex;
            font-size: map-get($sizes, md);
            line-height: map-get($props, line-height);
            margin: 0;
        }

        /* Sizes */
        @each $element-size,
        $font-size in $sizes {
            [data-element-size='#{$element-size}'] {
                font-size: $font-size;
            }
        }

        
    }
}

@mixin resetComponent() {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}