@function adapt-color($color) {
    @if (lightness($color) < 10) {
        @return lighten($color, 10%);
    }

    @else {
        @return darken($color, 10%);
    }
}

@function border-color($color) {
    @if ($color == #FFF) {
        @return darken($color, 10%);
    }

    @else {
        @return $color;
    }
}

@function divider-color($color) {
    @if (lightness($color) < 30) {
        @return lighten($color, 10%);
    }

    @else {
        @return darken($color, 10%);
    }
}

@function glare-color($color) {
    @if (lightness($color) < 5 or $color == #FFF) {
        @return map-get($button-glare-color, light);
    }

    @else {
        @return map-get($button-glare-color, dark);
    }
}

@function icon-color($color) {
    @if (lightness($color) < 30) {
        @return #FFF;
    }

    @else {
        @return #000;
    }
}

@function element-color($color, $element) {
    $dark-color: map-get(map-get($element-colors, $element), dark);
    $light-color: map-get(map-get($element-colors, $element), light);
    @return text-color($color, $light-color, $dark-color);
}

@function getHoverColor($color) {
    @if (lightness($color) > 75) {
        @return rgba(0, 0, 0, .1);
    }

    @else {
        @return rgba(255, 255, 255, .1);
    }
}

@function getTextColor($color) {
    @if (lightness($color) > 75) {
        @return darken($color, 40%);
    }

    @else {
        @return #ffffff;
    }
}

@function active-color($color) {
    @if (lightness($color) > 75) {
        @return darken($color, 5%);
    }

    @else {
        @return darken($color, 2%);
    }
}

@function focus-color($color) {
    @if (lightness($color) > 75) {
        @return rgba(darken($color, 15%), .3);
    }

    @else {
        @return rgba($color, .3);
    }
}

@function hover-color($color) {
    @if (lightness($color) > 75) {
        @return darken($color, 2%);
    }

    @else {
        @return lighten($color, 5%);
    }
}

@function text-color($ref, $a, $b) {
    @if (lightness($ref) > 75) {
        @return $b;
    }

    @else {
        @return $a;
    }
}

@function title-color($color) {
    $dark-color: map-get(map-get($element-colors, title), dark);
    $light-color: map-get(map-get($element-colors, title), light);
    @return text-color($color, $light-color, $dark-color);
}